* {
    margin: 0;
    padding: 0;
}

html {
    background: #14243d;
    background: radial-gradient(ellipse at center, #14243d 0%, #030611 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    color: #fff;
}

.header {
    background-color: #0F3753;
    color: #FFFFFF;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.subheader {
    background-color: #215B7A;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

.stats {
    text-align: center;
    margin-top: 10px;
    color: #E5EBEE;
    font-size: 13px;
    min-width: 1200px;
}

.stats label {
    font-weight: bold;
    color: #E5EBEE;
    margin-right: 10px;
}

.inline_block {
    float: left;
}

.box {
    display: inline-block;
    margin-bottom: 20px;
}

.content:after,
.content:before {
    content: ' ';
    display: table;
}

.content:after {
    clear: both;
}

.left_col {
    width: 50%;
    float: left;
}

.center_col {
    width: 30%;
    float: left
}

.right_col {
    width: 50%;
    float: left
}

.footer {
    height: 20px;
    margin: 10px;
    background: #14243d;
    text-align: right;
    color: #8C91A0;
    font-size: 13px;
}

.left {
    float: left;
}

.place {
    display: inline-block;
}

.left_align {
    text-align: left;
}

.label_width {
    width: 51px;
    display: inline-block;
}

input[type="text"].string_long {
    width: 300px;
}

input[type="button"].margin_none {
    margin: 0;
}

#calculator table {
    border: solid 3px silver;
    display: inline-block;
    border-spacing: 6px;
    background-color: #EEE;
}

#calculator table td {
    margin-left: 10px;
    border-spacing: 6px;
}

input[type="text"],
input[type="number"] {
    border: 1px;
    margin: 4px 20px 0 0;
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
}

input[type="button"] {
    border: 1px;
    margin: 4px 20px 0 0;
    width: 100px;
    height: 30px;
    background-color: #4D7B94;
    color: #FFFFFF;
}

input[type="button"].button-calc {
    width: 40px;
    margin: 6px 4px;
}

input.display {
    width: 200px;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td.buttons {
    border-top: solid 1px silver;
}

textarea {
    width: 95%;
    max-width: 100%;
    height: 150px;
    font-size: 1.2em;
    font-family: sans-serif;
    margin-bottom: -5px;
}

form {
    width: 98%;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #215B7A;
}

#marker {
    text-align: right;
    display: inline-block;
    margin-top: 30px;
    font-size: 1.2em;
}